- name: Prometheus Server configuration
  ansible.builtin.template:
    src: prometheus.yml
    dest: /opt/prometheus/prometheus.yml

- name: Restart prometheus
  ansible.builtin.systemd:
    name: prometheus
    state: restarted

- name: Check for prometheus service running or not
  ansible.builtin.wait_for:
    host: 0.0.0.0
    port: 9090
    delay: 10
