- name: Create Application User
  ansible.builtin.user:
    name: roboshop
  register: app_user

- name: Remove App Location
  ansible.builtin.file:
    path: "{{ APP_LOCATION }}"
    state: absent

- name: Create App Location
  ansible.builtin.file:
    path: "{{ APP_LOCATION }}"
    state: directory

#- name: Download & Extract {{ COMPONENT }} Component Archive
#  ansible.builtin.unarchive:
#    src: https://github.com/roboshop-devops-project/{{ COMPONENT }}/archive/main.zip
#    dest: /tmp
#    remote_src: yes
#
#- name: Copy {{ COMPONENT }} Code to App Location
#  ansible.builtin.copy:
#    src: /tmp/{{COMPONENT}}-main/{{SUFFIX}}
#    dest: "{{ APP_LOCATION }}/"
#    remote_src: yes

- name: Get Latest Version of Appication from Nexus
  ansible.builtin.shell: curl -s http://nexus.roboshop.internal:8081/service/rest/repository/browse/frontend/  | grep zip  | sed -e 's/"/ /g' | xargs -n1 | grep ^http | tail -n1
  register: out
  when: APP_VERSION is not defined

- name: Declare URL fact of latest version
  ansible.builtin.set_fact:
    URL: "{{out.stdout}}"
  when: APP_VERSION is not defined

- name: Declare URL fact
  ansible.builtin.set_fact:
    URL: http://nexus.roboshop.internal:8081/repository/{{COMPONENT}}/{{COMPONENT}}-{{APP_VERSION}}.zip
  when: APP_VERSION is defined

- name: Download & Extract {{ COMPONENT }} Component Archive from Nexus
  ansible.builtin.unarchive:
    src: "{{URL}}"
    dest: "{{ APP_LOCATION }}"
    remote_src: yes
